*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .5s ease;
  color: black;
}
/* 
colors:
Deep Space Sparkle: #385F71
Captain Red: #B80C09
Apricot: #FAC9B8
Misty Rose: FFE5D8
Onyx: #313638 
green: #699677
other green: #C3DEB7*/



/* Navigation bar styling */
nav{
  width: 100vw;
  height: 75px;
  display: flex;
  z-index: 750;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  background: #385F71;
  color: #FFE5D8;
  box-shadow: 0 0 4px 8px grey;
}

nav div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

nav div p{
  color: #FFE5D8
}

nav i {
  cursor: pointer;
  color: #FFE5D8
}

.icons{
  width: 150px;
}

.fa-clinic-medical, .fa-ambulance{
  font-size: 36px;
}

.fa-bars{
  font-size: 26px;
}

.dropdown{
  width: 250px;
  height: 250px;
  position: absolute;
  display: flex;
  z-index: 1000;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  padding: 8px 16px;
  top: 75px;
  background: #699677;
  animation: drop-down .25s;
  overflow: hidden;
  box-shadow: 0px 57px 88px -15px rgba(88, 88, 88, 0.66);
}

/* General container styling */
main{
  width: 100vw;
  height: calc(100vh - 150px);
  padding: 16px 200px;
  background: #FFE5D8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#column{
  flex-direction: column;
}

/* Auth container styling */

.auth-container{
  width: 700px;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #699677;
  overflow: hidden;
  box-shadow: 0 0 32px 16px rgba(128, 128, 128, 0.5);
}

.login-container{
  min-width: 700px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
}

.register-container{
  min-width: 700px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
}

.left{
  transform: translateX(-700px);
}

.login-row{
  display: flex;
  width: 250px;
  justify-content: space-between;
  margin-top: 16px;
}

/* Dashboard styling */
section div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section{
  width: 48%;
  height: 100%;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 6px;
  background: white;
  box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.5);
}

section a{
  height: 20%;
  width: 100%;
}

.overview{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todays-meds{
  width: 100%;
  height: 100%;
  margin: 8px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  overflow-y: auto;
  padding: 4px;
  box-shadow: none;
}

.calendar-overview-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 8px;
  margin: 4px 0;
  border-radius: 16px;
  box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.5);

}

.calendar-overview-container h4{
  width: 100%;
  border-bottom: 2px solid black;
  margin-bottom: 4px;
}

.day-card{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  padding: 2px 4px;
}

.day-card p{
  height: auto;
  width: 40%;
}
#double-width{
  width: 80%;
}
#fifth-width{
  width: 20%;
}
.day-card #dot{
  margin-right: 4px;
}

/* Medication styling */
#meds-main{
  width: 100%;
  flex-direction: column;
}

#meds-main form{
  width: 100%;
  max-height: 20%;
  background: #699677;
}

.add-medication-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #669677;
  padding: 0 32px;
}

.add-medication-container div{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 6px 0 0 0;
}

.add-medication-container div input{
  width: 150px;
  margin: 6px;
}

.medication-container{
  width: 100%;
  min-height: 80%;
  background: #669677;
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
}

.medication-container div:nth-child(2n+0){
  background: #C3DEB7
}

.medication-container > div {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.meds-header {
  background: #313638;
}

.meds-header p{
  color: #FFE5D8
}

.med-action{
  height: 24px;
}

.medication-container > div p{
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

.medication-container > div p:nth-child(1){
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding: 0 8px;
}

#provider-main{
  flex-direction: column;
}

.prov-info-container{
  display: flex;
  width: 65%;
  height: 100%;
  margin: 16px 0 0 0;
  justify-content: space-between;

}

.prov-info-container div {
  border: 1px solid black;
  width: 50%;
}

/* Calendar styling */

.calendar-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calendar{
  width: 100%;
  height: 100%;
  padding: 16px;
}

.tbody{
  display: block;
  width: 100%;
  height: calc(100% - 50px);
}

.thead{
  height: 50px;
  width: 100%;
}

.tr{
  width: 100%;
  height: 14.666666%;
  display: flex;
  justify-content: flex-end;
}

/* .day:nth-of-type(2n+1){
  background: #FFE5D8;
} */

.tr:nth-of-type(2n+1){
  background: #C3DEB7;
}

/* .day:nth-of-type(2n+0) span{
  color: #FFE5D8;
} */

.prev{
  color: #FFE5D8;
  cursor: pointer;
  transition: all .25s ease;
}

.prev:hover{
  transform: scale(1.25);
}

.tr-head{
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-around;
}

.tr:last-of-type{
  justify-content: flex-start;
}

.dayweek-day{
  width: 120px;
  height: 75px;
  padding: 4px;
  display: flex;
  justify-content: spac;
  text-align: center;
  border: 1px solid black;
  transition: all 1s ease;
}

.nav-month{
  min-width: 150px;
  width: 15%;
  height: auto;
  z-index: 500;
  position: relative;
  border: 2px solid black;
  top: 0;
  left: 0;
  padding: 0 8px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.nav-month i{
  cursor: pointer
}

.label-month{
  margin-right: 12px;
}

.month-dropdown{
  height: auto;
  display: flex;
  flex-direction: column;
  width: calc(100% - 8px);
  position: absolute;
  top: 24px;
  left: 0;
  background: white;
  padding: 4px 8px;
  animation: drop-down .5s;
  overflow: hidden;
}

k{
  cursor: pointer;
}

.editor-year{
  width: 75px;
}

.calendar-header{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-labels p{
  width: 14.285714%;
  text-align: center;
}

.calendar{
  height: calc(100% - 0px);
  background: #669677;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.current-day{
  border: 2px solid white;
  font-weight: bolder;
}

.legend{
  display: flex;
}

.legend p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  font-size: 12px;
}

.legend p span{
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 4px;
  line-height: 12px;
}

.color1{
  background: black;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.5);
}

.color2{
  background: white;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.5);
}

.color3{
  background: rgb(192, 21, 21);
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.5);
}

.week-day{
  width: 14.2857142857%;
  height: 100%;
  text-align: center;
  transition: all .25s ease;
  border: 1px solid black;
}

.week-day p{
  display: none;
}

.week-day span{
  display: flex;
  flex-direction: column;
  width: calc(100%);
  height: calc(100%);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .025s;
}

.week-day span:hover p{
  transform: translateY(-5px);
  margin-bottom: -3px;
}

.week-day span p{
  display: block;
  height: calc(100% - 32px);
}

.event-dot-container{
  width: 100%;
  height: 16px;
  display: flex;
  padding: 0 12px;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  align-self: flex-start;
}

.event-dot-container div{
  width: 37%;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.event-dot-container div div p{
  position: absolute
}

#dot-info{
  display: block;
}

#none{
  display: none;
}

#count{
  margin-left: 6px;
  margin-top: -10px;
  line-height: 10px;
  font-size: 10px;
}


#dot{
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.5);
}

.white{
  background: white;

}
.red{
  background: red;
}

.day-modal{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid black;
  z-index: 5;
  animation: fade-in .5s;
  padding: 24px;
}

.day-modal div{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  box-shadow: 0px 2px 2px 2px grey;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 4px;
}

.day-modal p{
  display: flex;
}

.day-modal #none{
  display: block;
  width: calc(33% - 12px)
}

.day-modal #close{
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  cursor: pointer;
}

.none{
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  top: 25%;
  left: 25%;
}

.add-modal{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  background: white;
  border: 1px solid black;
  z-index: 5;
  animation: fade-in .5s;
  padding: 24px;
}

.add-modal #close{
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  cursor: pointer;
}

.add-modal div{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  height: 200px;
}

.add-modal p{
  width: 30%
}

.add-modal h3{
  width: 100%;
}

.add-modal input{
  width: 65%;
  border: none;
  border-bottom: 2px solid #669677;
}

.add-modal button{
  background: white;
  box-shadow: none;
  border: 2px solid #669677;
}

textarea{
  width: 100%;
  height: calc(100% - 22px);
  padding: 4px;
  border: 2px solid #669677
}

.fa-plus-square {
  color: white;
  font-size: 24px;
  cursor: pointer;
  text-shadow: 2px 2px black;
}

.fa-plus-square:hover {
  color: white;
  transform: translateY(-4px);
  cursor: pointer;
  box-shadow: 0px 2px 40px -4px rgba(0,0,0,0.56)

}

/* First Responder view Styling */
#fr-view-main{
  flex-direction: column;
}

.fr-container{
  width: 60%;
  min-height: 90%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background: white;
  overflow-y: auto;
}

.fr-container div{
  border-bottom: 2px solid black;
}

.fr-container div:nth-of-type(n){
  height: 50px;
}

.fr-container div:nth-of-type(n+3){
  height: 100px;
}

/* .fr-container div:nth-of-type(n+5){
  height: auto;
} */




/* Medical History Styling */
#medical-history-main{
  flex-direction: column;
}

#medical-history-main div{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

#medical-history-main div div{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: flex-start;
}

#medical-history-main div div p{
  width: 33%;
}

/* Profile styling */
#profile-container-main div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 48%;
  margin: 0 1%;
  border: 1px solid black;
  height: 100%;
  background: #699677;
  padding: 8px;
}

#profile-container-main div div{
  width: 98%;
}

#profile-container-main div button{
  width: 100px;
}

.e-contact-card{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 75px;
  border: 1px solid black;
}

.e-contact-card p{
  width: auto;
}

/* Footer styling */
footer{
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: center;
  background: #313638;
}

footer div{
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFE5d8;
}

/* General styling */
button{
  min-width: 70px;
  height: 24px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  background: #699677;
  cursor: pointer;
  transition: all .125s;
  outline: none;
  line-height: 11px;
  box-shadow:  4px 4px 12px #5C8368, 
               -4px -4px 12px #8FB099;
}

button:hover{
  transform: scale(.98);
}

button:active{
  transform: translate3d(1px, 1px, 0) scale(.95);
  box-shadow:  inset 4px 4px 12px #5C8368, 
               inset -4px -4px 12px #8FB099;
}

actionbutton{
  width: auto;
  height: 16px;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 4px;
  background: #699677;
  cursor: pointer;
  transition: all .125s;
  outline: none;
  line-height: 8px;
}

actionbutton:hover{
  background: white;
  color: #699677
}

actionbutton:active{
  transform: translate3d(1px, 1px, 0) scale(.95);
}

a{
  padding: 4px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: #FFE5D8
}

/* Animations */
@keyframes drop-down {
  0%{height: 0;}
  100%{height: 250px;}
}

@keyframes fade-in {
  0%{opacity: 0; width: 0%; height: 0%; top: 50%; left: 50%}
  100%{opacity: 1; width: 50%; height: 50%; top: 25%; left: 25%}
}

/* @keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(10000deg);}
} */