*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Navigation bar styling */
nav{
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  background: lightcoral;
}

nav div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

nav i {
  cursor: pointer;
}

.icons{
  width: 150px;
}

.fa-clinic-medical, .fa-ambulance{
  font-size: 36px;
}

.fa-bars{
  font-size: 26px;
}

.dropdown{
  width: 250px;
  height: 250px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  padding: 8px 16px;
  top: 75px;
  background: lightyellow;
  animation: drop-down .25s;
  overflow: hidden;
}

/* General container styling */
main{
  width: 100vw;
  height: calc(100vh - 150px);
  padding: 16px 200px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#column{
  flex-direction: column;
}

/* Auth container styling */

.auth-container{
  width: 700px;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 32px 16px rgba(128, 128, 128, 0.5);
}

.login-container{
  min-width: 700px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
}

.register-container{
  min-width: 700px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
}

.left{
  transform: translateX(-700px);
}

.login-row{
  display: flex;
  width: 250px;
  justify-content: space-between;
  margin-top: 16px;
}

/* Dashboard styling */

section{
  width: 48%;
  height: 100%;
  background: lightsalmon;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

section div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

container{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 6px 0;
  background: white;
}

.todays-meds{
  width: 100%;
  height: 100%;
  margin: 8px 0 0 0;
  background: white;
}

/* Medication styling */
.add-medication-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20%;
  background: darkgoldenrod
}

.add-medication-container div{
  width: 300px;
  display: flex;
  justify-content: flex-start;
  margin: 6px 0 0 0;
}

.add-medication-container div input{
  width: 150px;
  margin: 0 6px;
}

.medication-container{
  width: 100%;
  height: 80%;
  background: darkorchid
}

#provider-main{
  flex-direction: column;
}

.prov-info-container{
  display: flex;
  width: 65%;
  height: 100%;
  margin: 16px 0 0 0;
  justify-content: space-between;

}

.prov-info-container div {
  border: 1px solid black;
  width: 50%;
}

/* Calendar styling */

.calendar-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.calendar-labels{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-labels p{
  width: 14.285714%;
  text-align: center;
}

.calendar{
  height: calc(100% - 0px);
  background: darkorange;
  display: flex;
  flex-wrap: wrap;
}

.calendar div{
  width: 14.285714%;
  height: auto;
  border: 1px solid purple;
}

/* Medical History Styling */
#medical-history-main{
  flex-direction: column;
}

#medical-history-main div{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

#medical-history-main div div{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: flex-start;
}

#medical-history-main div div p{
  width: 33%;
}

/* Profile styling */
#profile-container-main div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48%;
  margin: 0 1%;
  border: 1px solid black;
  height: 100%;
}

#profile-container-main div div{
  width: 98%;
}

#profile-container-main div button{
  width: 100px;
}

.e-contact-card{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 75px;
  border: 1px solid black;
}

.e-contact-card p{
  width: auto;
}

/* Footer styling */
footer{
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: center;
  background: lightskyblue;
}

footer div{
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* General styling */
button{
  width: auto;
  padding: 4px;
  border: 2px solid black;
  background: white;
  cursor: pointer;
  transition: all .125s;
  outline: none;
}

button:hover{
  transform: translateY(-2px);
}
button:active{
  transform: translateY(2px);
}

a{
  padding: 4px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* Animations */
@keyframes drop-down {
  0%{height: 0;}
  100%{height: 250px;}
}